body{
  font-family: verdana;
  background-image: url("./assignment_2_resource/background.png");
  background-repeat: repeat;
  font-size: 8pt;
  margin: 0;
  padding: 0;
}

.banner{
  background-image: url("./assignment_2_resource/bannerbackground.png");
  background-size: 100%;
  height: 50px
}

h1{
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

.container{
  width: 800px;
  height: auto;
  margin: auto;
  border: 4px solid gray;
}

.content{
  display: flex;
  height: 871px;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.contentbanner{
  order: 1;
  align-self: flex-start;
  width: 550px;
  height: 83px;
  background-image: url("./assignment_2_resource/rottenbackground.png"); 
  background-repeat: repeat;
  color: white;
}

.contentbanner img{
  float: left;
}

#bannertext1{
  font-size: 48pt;
  color: red;
  font-weight: bold;
  line-height: 90px;
}

.overview{
  order: 3;
  align-self: flex-start;
  width: 250px;
  background-color: #A2B964;
}

#overviewtext{
  margin-left: 10px;
  margin-right: 10px;
}

dl{
  list-style-type: none;
  font-family: Arial;
}

dt{
  margin-top: 1em;
  font-weight: bold;
}

.review{
  width: 550px;
  height: 680px;
  order: 2;
  display: flex;
  align-self: flex-start;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
}

.reviewbox{
  background-color: #E1D697;
  font-weight: bold;
  border: 2px solid gray;
  padding: 8px;
  width: 240px;
}

.reviewboximage{
  float: left;
  padding-right: 5px;
}

.reviewerinfo{
  font-style: italic;
}

.order1{
  order: 1;
}
.order2{
  order: 2;
}
.order3{
  order: 3;
}
.order4{
  order: 4;
}
.order5{
  order: 5;
}
.order6{
  order: 6;
}
.order7{
  order: 7;
}
.order8{
  order: 8;
}

.reviewbar{
  align-self: flex-end;
  background-color: #A2B964;
  padding: 5px;
  width: 790px;
  margin: auto;
  text-align: center;
}

#xhtmlvalid{
  border: 0;
  width: 88px;
  height: 31px;
  position: fixed;
  bottom: 31px;
  right: 0;
}

#cssvalid{
  border: 0;
  width: 88px;
  height: 31px;
  position: fixed;
  bottom: 0;
  right: 0;
}
